################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PicPaySimplify/PicPaySimplify/appsettings.json
/PicPaySimplify/PicPaySimplify/appsettings.Development.json
PicPaySimplify/PicPaySimplify/bin/Debug/net8.0/appsettings.json
PicPaySimplify/bin/Debug/appsettings.json
PicPaySimplify/PicPaySimplify/bin/Debug/net8.0/appsettings.json
PicPaySimplify/PicPaySimplify/bin/Debug/net8.0/appsettings.json
